@import "../../styles/mixins";

.slide{
  max-width: 400px;

  @include media-600px{
    max-width: 166px;
  }
}

.year{
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 25px;
  line-height: 120%;
  text-transform: uppercase;
  color: var(--secondary-color);
  margin-bottom: 15px;
}
