@import "mixins";

:root {
  --font-family: "PT Sans", sans-serif;
  --second-family: "Bebas Neue", sans-serif;
  --primary-color:#42567A;
  --secondary-color:#3877EE;
  --blue-color:#5D5FEF;
  --pink-color:#EF5DA8;
  --background-color:#E5E5E5;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body{
  font-family: var(--font-family);
  background: var(--background-color);
  font-weight: 400;
  font-size: 20px;
  line-height: 150%;
  color: var(--primary-color);
}

.main-wrapper {
  max-width: 1440px;
  margin: 0 auto;
  border: 1px solid rgba(#42567A, 0.1);
  position: relative;
  overflow: hidden;

  @include media-600px{
    border: none;
    height: 100vh;
  }
}

.vertical_line {
  position: absolute;
  background-color: var(--primary-color);
  opacity: 0.1;
  width: 1px;
  height: 100%;
  left: 50%;

  @include media-600px {
    display: none;
  }
}

.main-title{
  padding-top: 170px;

  @include media-1100px{
    padding-top: 56px;
  }
}

.interval-sm{
  display: none;

  @include media-600px{
    display: block;
    padding: 20px;
  }
}

.carousel{
  @include media-600px{
    display: none;
  }
}

.carousel_pagination{
  padding: 0 5%;
  margin: -40px 0 56px;

  @include media-600px{
    margin-top: 0;
  }

  @include media-425px{
    position: absolute;
    bottom: 15px;
  }
}

.periods_section{
  padding-bottom: 104px;
}

.flexbox{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.swiper-slide-next {
  @include media-425px{
    opacity: .30;
  }
}

.swiper-slide-active {
  @include media-425px{
    opacity: 1;
  }
}

.swiper-slide{
  margin-right: 80px;

  @include media-600px{
    margin-right: 25px;
  }
}

.swiper-pagination{
  display: none;

  @include media-425px{
    display: block;
    bottom: 5px !important;
  }
}


