@import "../../../styles/mixins";

.topic {
  position: absolute;
  top: 40px;
  left: 40px;
  width: 450px;
  height: 450px;
  border-radius: 50%;
  transform-origin: 50% 50%;

  @include media-1440px {
    top: 50px;
    left: 50px;
    width: 300px;
    height: 300px;
  }

  &_title{
    position: absolute;
    opacity: 0;
    font-weight: 700;
    transition: opacity 0.2s ease-in;
  }

  .active_title{
    left: 58px;
    top:8px;
    transition-duration: 1s;
    transition-delay: 2s;
    opacity: 1;
  }

  &_circle{
    background: var(--primary-color);
    transition-duration: 0.5s;
    transform: scale(0.15);
    overflow: hidden;

    @include media-1440px {
      width: 45px;
      height: 45px;
      top: -72px;
      left: 124px;
    }

    &_content {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 56px;
      height: 56px;
      border-radius: 50%;
      transform-origin: 50% 50%;
    }

    &:hover {
      background: #F4F5F9;
      transform: scale(1);
    }
  }
}

.topic_circle,
.active {
  position: absolute;
  top: -67px;
  left: 197px;
  width: 56px;
  height: 56px;
  border: 1px solid rgba(48, 62, 88, 0.5);
  border-radius: 50%;
  transform: scale(0.15);
  transform-origin: 50% 50%;
  transition-duration: 0.5s;
  z-index: 10;
  cursor: pointer;

  @include media-1440px{
    top: -79px;
    left: 120px;
  }
}

.active {
  background: #F4F5F9;
  transform: scale(1);
}
