.date_interval{
  font-weight: 700;
  font-size: 200px;
  line-height: 80%;
  letter-spacing: -0.02em;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform:translate(-50%,-50%);

  .start{
    padding-right: 10%;
    color: #5d5fef;
  }

  .end{
    color: #ef5da8;
  }
}